            </td>
            </tr>

            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="height: 20px;"></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid #f3f3f3"></td>
                        </tr>
                        <tr>
                            <td style="height: 20px;"></td>
                        </tr>
                        <tr>
                            <td valign="top" align="center">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="https://de.linkedin.com/in/suprithreddy" style="border-radius: 3px; overflow: hidden; text-decoration: none;
                                                height: 30px; width: 30px;padding: 4px; display: inline-block;">
                                                <img src="https://www.suprithreddy.com/wp-content/uploads/2020/03/linkedin.png"
                                                    style="height: 30px; width: 30px;margin:0 auto 0 auto;">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="https://twitter.com/suprith_s_reddy" style="border-radius: 3px; overflow: hidden; text-decoration: none;
                                                height: 30px; width: 30px; padding: 4px; display: inline-block;">
                                                <img src="https://www.suprithreddy.com/wp-content/uploads/2020/03/twitter.png"
                                                    style="height: 30px; width: 30px;margin:0 auto 0 auto;">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="https://github.com/suprith-s-reddy" style="border-radius: 3px; overflow: hidden; text-decoration: none;
                                                height: 30px; width: 30px; padding: 4px; display: inline-block;">
                                                <img src="https://www.suprithreddy.com/wp-content/uploads/2020/03/github.png"
                                                    style="height: 30px; width: 30px;margin:0 auto 0 auto;">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="https://www.instagram.com/suprith.reddy/" style="border-radius: 3px; overflow: hidden; text-decoration: none;
                                                height: 30px; width: 30px; padding: 4px; display: inline-block;">
                                                <img src="https://www.suprithreddy.com/wp-content/uploads/2020/03/instagram.png"
                                                    style="height: 30px; width: 30px;margin:0 auto 0 auto;">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="https://www.facebook.com/suprith.s.reddy"
                                                style="border-radius: 3px; overflow: hidden; text-decoration: none; height: 30px; width: 30px; padding: 4px; display: inline-block;">
                                                <img src="https://www.suprithreddy.com/wp-content/uploads/2020/03/facebook.png"
                                                    style="height: 30px; width: 30px;margin:0 auto 0 auto;">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 15px;"></td>
                        </tr>
                        <tr>
                            <td valign="top" align="center"
                                style="font-size: 10px; font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; font-weight: 600; line-height: 1.8em; color: #A9A9A9;">
                                Copyright &copy; 2020 Suprith Reddy - <%= content.rightsReserved %>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 20px;"></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid #f3f3f3"></td>
                        </tr>
                        <tr>
                            <td style="height: 20px;"></td>
                        </tr>
                        <tr>
                            <td valign="top" align="center"
                                style="font-size: 10px; font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; font-weight: 600; line-height: 1.8em; color: #A9A9A9;">
                                <%= content.ourAddress %>:
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="center"
                                style="font-size: 10px; font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; font-weight: 600; line-height: 1.8em; color: #A9A9A9;">
                                Suprith Reddy
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="center"
                                style="font-size: 10px; font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; font-weight: 600; line-height: 1.8em; color: #A9A9A9;">
                                Frankfurt am Main, Germany
                            </td>
                        </tr>
                </td>
            </tr>
            </table>
            </td>
            </tr>
            </table>
            </body>

            </html>